# OS
.DS_Store
Thumbs.db

# Editors / IDE
.vscode/
.idea/
*.swp
*.swo

# Env
.env
.env.local
.env.*.local

# Logs
*.log
logs/

# Docker
*.pid
*.key
*.pem
node_modules/
.venv/
__pycache__/
dist/
*.sqlite
*.sqlite3
*.pyc
coverage/
*.db
